<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693611547457-v45kjt85au8vt57mg00hf5uqks2781mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693611547457-v45kjt85au8vt57mg00hf5uqks2781mo</string>
	<key>API_KEY</key>
	<string>AIzaSyCwSzbHcuskSK0wiVc5lEexpMMbWck0pP4</string>
	<key>GCM_SENDER_ID</key>
	<string>693611547457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danhiltonapps.MyFoodJournal</string>
	<key>PROJECT_ID</key>
	<string>my-food-journal-671e6</string>
	<key>STORAGE_BUCKET</key>
	<string>my-food-journal-671e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693611547457:ios:6c13481da3cfd307c6afc0</string>
	<key>DATABASE_URL</key>
	<string>https://my-food-journal-671e6.firebaseio.com</string>
</dict>
</plist>